.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#history {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
}

#gg {
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
  text-align: center;
  padding-left: 1rem;
}

#ss {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

#cs {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: #f8f415;
}

#cd {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

#sss {
  color: #b6b6b6;
  font-size: x-large;
}
